<section id="contact-me-page-card">
    <div class="contacts-anim">
        <h1 class="header">WANT TO TALK ?</h1>
        <h2> I'm always looking for new opportunities! </h2>
        <div class="contacts-list">
            <a href="mailto: kohil.ikram@hotmail.com" class="contact-method">
                <img src="{{typeOfSkills.Email}}">
                <p class="contact-name">
                    kohil.ikram@hotmail.com
                </p>
            </a>
            <a href="https://github.com/IkramKo" target="_blank" class="contact-method">
                <img src="{{typeOfSkills.Github}}">
                <p class="contact-name">
                    IkramKo
                </p>
            </a>
            <a href="https://www.linkedin.com/in/lkram-k-14a919197/" target="_blank" class="contact-method">
                <img src="{{typeOfSkills.LinkedIn}}">
                <p class="contact-name">
                    Ikram Kohil 
                </p>
            </a>
        </div>
    </div>
</section>